@tailwind base;
@tailwind components;
@tailwind utilities;
img {
  @apply rounded-full w-12 h-12 shadow-lg;
}
h2 {
  margin: 8px;
  padding: 12px;
  font-weight: 500;
}
input {
  @apply bg-gray-100 
      border-gray-600 
      rounded
       py-3
        px-3 
        w-32 
        h-10 
        focus:outline-none
         focus:border-gray-400;
}
